<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz</title>
</head>
<body>
    <h1>Stworz pokoj</h1>
    <form action="/dolacz" method="post">
        <label for="userId">To się samo powinno pobierać (createdUserId):</label>
            <input type="number" id="userId" name="userId" required>
        <br>
        <label for="roomName">Nazwa pokoju:</label>
            <input type="text" id="roomName" name="roomName" required>
        <br>
        <label for="slots">Ilość miejsc:</label>
            <input type="number" id="slots" name="slots" required>
        <br>
        <label for="formattedDate">Czas zakończenia:</label>
            <input type="datetime-local" id="formattedDate" name="formattedDate" required>
        <br>
        <label for="cost">Cena:</label>
            <input type="number" step="any" id="cost" name="cost" required>
        <br>
        <button type="submit">Wyślij</button>
    </form>
</body>
</html>